

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/game/variables.js"></script>
<script src="~/Scripts/game/levels.js"></script>
<script src="~/Scripts/game/canvas.js"></script>
<script src="~/Scripts/game/logic.js"></script>
<script>$(function () { Levels.generateLevels(Game); });</script>

<div id="canvasArea">
    <canvas id="gameCanvas"></canvas>
</div>

